*{
  margin:0%;
  padding: 0%;
  font-family: tuffybold;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


#login-button{
  width: 232px;
  height: 46px;
  border-radius: 30px;
  border-style: hidden;
  background-color: #F4C0C2;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}